.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* <-- this is for correct footer placement */
}

body {
  /* body should not have to be a flexbox but because of the
    divs created by react before any of our html actually
    loads this is needed to center the content of the page */
  display: flex;
  justify-content: center;
  min-height: 100%;
  /* <-- this is for correct footer placement */
}

body h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

body h2 {
  padding-bottom: 16px;
}

main {
  display: flex;
  flex-direction: row;
}

main>menu,
main>section,
main>aside {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

main>menu .ResetAndClearButtons {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 961px) {
  main>aside>div:first-child {
    margin-bottom: 36px;
  }
}

footer {
  margin: 16px auto 8px auto;
}

footer>p {
  text-align: center;
  color: gray;
}

/* handles "medium" viewport size */
@media screen and (max-width: 960px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
  }

  main>menu,
  main>section {
    flex-grow: 1;
    padding: 8px;
  }

  main>aside {
    flex-direction: row;
  }

  main>aside div:first-child {
    padding-right: 24px;
  }

  main>aside div:last-child {
    padding-left: 24px;
  }
}

/* small screen layout, phones etc. */
@media screen and (max-width: 640px) {
  main {
    flex-direction: column;
  }

  main>menu,
  main>section,
  main>aside {
    margin-right: 0px;
  }

  main>aside {
    flex-direction: column;
  }

  main>menu .ResetAndClearButtons {
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* footer rule here to prevent footer from being 
      placed inside the pie chart canvas on small screens */
  footer {
    margin: 160px auto 8px auto;
  }
}