.App {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  place-items: center;
}

main {
  display: flex;
  flex-direction: row;
}

main > menu,
main > section,
main > aside {
  display: flex;
  flex-direction: column;
}

/* handles "medium" viewport size */
@media screen and (max-width: 1279px) {
  
}

/* small screen layout, phones etc. */
@media screen and (max-width: 860px) {

}

/* this is add set button in exercise component */
button {
  border-radius: 10px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

/* move this to unitspicker.css */
.UnitsPicker label:first-of-type {
  border-right: 1px solid rgb(165, 165, 165);
}