.clear-day-button {
  width: 116px;
  height: 50px;
  border: 1px solid #e1e1e1;
}

.feedback-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 105;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog button {
  padding: 8px;
  margin-top: 16px;
}

.dialog button:last-of-type {
  margin-left: 10px;
}
