.exerciseContainer {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
  display: flex; 
  flex-direction: row; 
}

.InnerExerciseContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 8px;
}

.InnerExerciseContainer > p {
  justify-self: flex-end;
}

.ExerciseHeader {
  display: flex;
  flex-direction: row;
}

.flexLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.setInput {
  margin: 12px;
  padding: 11px;
  width: 62px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
}

.addButton {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.deleteButton {
  align-self: flex-end;
  margin-top: 10px;
  cursor: pointer;
}

.RemoveExerciseButton {
  padding-right: 8px;
  /* border: 3px solid red; */
}