.exerciseContainer {
  min-width: 430px;
  max-width: 430px;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: row;
}

.InnerExerciseContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 16px;
}

.InnerExerciseContainer>p {
  justify-self: flex-end;
}

.InnerExerciseContainer input[type="checkbox"] {
  cursor: pointer;
}

.ExerciseHeader {
  display: flex;
  flex-direction: row;
}

.ExerciseHeader>button {
  height: 36px;
  width: 36px;
  background-color: #f9f9f9;
  border: none;
}

.ToggleAllSetsCheckbox {
  cursor: pointer;
  text-align: right;
}

.ToggleAllSetsCheckbox>input {
  margin-left: 12px;
  vertical-align: -2px;
}

.setInput {
  margin: 12px;
  padding: 12px;
  width: 62px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
}

.addButton {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.deleteButton {
  cursor: pointer;
}

.RemoveExerciseButton {
  padding-right: 8px;
}

.RemoveExerciseButton>label>input {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}