/*
    this css file contains rules for both
    MuscleCategoryList component and
    MuscleCategoryExercisesList component
*/

.AddExerciseMenu {
    padding-top: 8px;
}

/* this handles both the add exercise button
    and the go back button from the add exercise
    interface */
.AddExerciseMenu .button {
    min-width: 430px;
    max-width: 430px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.muscleGroupsCategoriesList {
    width: 100%;
    list-style-position: inside;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.muscleGroupsCategoriesList li {
    padding: 3px;
}

.muscleGroupsCategoriesList li:first-child {
    padding-top: 6px;
}

.muscleGroupsCategoriesList li:last-child {
    padding-bottom: 6px;
}

.muscleGroupsCategoriesList li label input[name="categoryDropdown"] {
    width: 92%;
    vertical-align: 10%;
    /* aligns li's arrows to center of button*/
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

.muscleGroupCategoryExercisesList {
    list-style: inside;
    list-style-image: url("/src/assets/plusSign.svg");
}

.muscleGroupCategoryExercisesList li label input[name="button"] {
    width: 84%;
    vertical-align: 40%;
    /* aligns li's arrows to center of button*/
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 4px;
    cursor: pointer;
}