.UnitsPicker {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 1rem;
}

.UnitsPicker label {
  padding: 1rem;
}

.UnitsPicker label:first-of-type {
  border-right: 1px solid rgb(165, 165, 165);
}