.WeekdayPicker {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.weekday {
  opacity: 0;
  width: 0;
  height: 0;
}

.weekday-label {
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: bold;
}

.weekday-label:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

.weekday-label:hover {
  background-color: rgb(240, 230, 230);
}

.weekday-label.selected {
  background-color: #8beb7f;
  border-radius: 10px;
}