.WeekdayPicker {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.WeekdayInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.WeekdayLabel {
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: bold;
}

.WeekdayLabel:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

.WeekdayLabel:hover {
  background-color: rgb(240, 230, 230);
}

.WeekdayLabel.Selected {
  background-color: #8beb7f;
}

.WeekdayLabel.Selected:first-child {
  border-radius: 10px 10px 0px 0px;
}

.WeekdayLabel.Selected:last-child {
  border-radius: 0px 0px 10px 10px;
}
