#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
}

.weekday-label:hover {
  background-color: rgb(240, 230, 230);
}

.weekday-label.selected {
  border-color: #051007;
  background-color: #8beb7f;
}

.UnitsPicker label:first-of-type, .TrainingGoalPicker label:first-of-type {
  border-right: 1px solid rgb(165, 165, 165);
}

.TrainingGoalPicker label:last-of-type {
  border-left: 1px solid rgb(165, 165, 165);
}

.UnitsPicker label:has(input:checked), .TrainingGoalPicker label:has(input:checked) {
  text-shadow: 1px 1px 0px black;
}
