#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: row;
}
.WeekdayPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekdays-heading {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 40px;
}

.weekday {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.weekday-label {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  width: 60%;
  font-weight: bold;
}

.weekday-label:hover {
  background-color: rgb(240, 230, 230);
}

.weekday-label.selected {
  border-color: #051007;
  background-color: #8beb7f;
}

.UnitsPicker, .TrainingGoalPicker {
  display: block;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  padding: 1rem;
}

.UnitsPicker label, .TrainingGoalPicker label {
  padding: 1rem;
}

.UnitsPicker label:first-of-type, .TrainingGoalPicker label:first-of-type {
  border-right: 1px solid rgb(165, 165, 165);
}

.TrainingGoalPicker label:last-of-type {
  border-left: 1px solid rgb(165, 165, 165);
}

.UnitsPicker label:has(input:checked), .TrainingGoalPicker label:has(input:checked) {
  text-shadow: 1px 1px 0px black;
}
