#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weekdays-heading {
  text-align: center;
  margin-bottom: 10px;
  padding-left: 65px;
  color: #333;
  font-size: 40px;
}


.WeekComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weekday {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.weekday-label {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  width: 40%;
  font-weight: bold;
}

.weekday-label:hover {
  background-color: rgb(240, 230, 230);
}

.weekday-label.selected {
  border-color: #051007;
  background-color: #8beb7f;
}

.UnitsPicker {
  display: inline-block;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  padding: 1rem;
}

.UnitsPicker label {
  padding: 1rem;
}

.UnitsPicker label:first-of-type {
  border-right: 1px solid rgb(165, 165, 165);
}

.UnitsPicker label:has(input:checked) {
  text-shadow: 1px 1px 0px black;
}

.PieChart svg {
  width: 300px;
  height: 300px;
}

.PieChart div {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 25px;
}
