.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.flex-label, .checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.checkbox-margin, .label-margin {
  margin-right: 5px;
}

.exercise-block-background {
  background: #ECEAEA;
}

.exercise-block {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .input-and-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  .input-style {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .exercise-completed-button {
    background: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
    margin-right: 30px;
  }
  
  .add-button {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .remove-button {
    background: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 10px;
  }

  .total-sets-info {
    font-weight: bold;
    margin-left: 50px;
  }

  h3 {
    cursor: pointer; /* shits not working */
  }

  h3:hover {
    background-color: #f2f2f2;
    color: #007bff; 
    text-decoration:underline;
  }


  
